*{
    padding:0px;
    margin:0px;
}


.navbar li{
    margin: 0px;
    display:inline-block;
    padding-left:20px;
    padding-right:20px;
    cursor: pointer;

}

.menu-drop{
    display:none;
    width:150px;
    height:300px;
    position: absolute;
    left:20px;
    top:55px;
  
    
}
.menu-drop ul{
    box-shadow: 2px 2px 4px 2px blue;
}

.menu-drop li{
    color:red;
    height:3rem;
    list-style:none;
    border: 1px solid red;
    text-align: center;
  
    width:100%;
}
.menu-drop a{
    color:red;
    text-decoration: none;
   
}
/* .menu-drop a:hover{
   color:white;
    
} */
.menu-drop li:hover{
    color:white;
    background-color: blue;
    
}
.menu-drop ul{
    padding-left:0px;
    margin:0px;
    background-color:black;
}
.menuhover{
    padding-bottom:0px;
}
.menuhover:hover{
    color: blue;
}

.cont1, .cont2{
    display:inline-block; 
    padding:25px;
    margin-top:10px;
    margin-left:10px;
    border:1px solid teal;
    height:150px;
  width:400px;
    
  
}

.btn{
    margin-top:20px;
    width:200px;
    border:none;
    border-radius:20px;
    background-color:red;
    color:white;
    height:30px;
}

.both{
    display:flex;
    justify-content: center;
}
h2{
    display:inline-block;
    padding-bottom:20px;
}


.img{
    border-radius:10px;
   
    float:right;
}    








@media screen and (max-width:700px){
.nav{
    display: none;
}
.burger-dropdown{
    display:none;
    position: absolute;
    padding:20px;
    color:white;
    background-color: black;
}

.burger-dropdown ul{
    padding:0px;
    display: none;
    color:orangered;
}
.burger-dropdown li:hover{
    color:blue;
}
.burger-dropdown li{
    padding:3px;
}
li{
    list-style: none;
   
}
.fa-bars{
    display: inline-block;
    cursor: pointer;
    margin:10px;
    font-size: 40px;
}
.title-bignav{
    display: inline-block;
    
}
.title-smallnav{
    display: inline-block;
    padding-left:100px;
}

}
@media screen and (min-width:700px){
    .fa-bars{
       color:white;
    }
    .title-smallnav{
        display: none;
    }
    .title-bignav{
        display: inline-block;
        padding-left:150px;
    }
    .burger-dropdown{
        display:none;
    }

}

