*{
    padding:0px;
    margin:0px;
}
body{
    background-color:lightblue;
}
.all{
   
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 5px;
    background-color: orangered;
    box-shadow: 2px 1px 0px  #333;
   
}
.card-link{
    display: inline-block;
    border:1px solid #333;
    padding:5px;
    border-radius: 10px;
    color:white;
    background:#333;
}
.cart-box{
     display:none; 
    position: absolute;
    top:25px;
    /* left:1000px; */
     border-radius:5px;
     width:375px;
     padding:15px;
     background-color:beige;
     opacity: .8;
    
}
.removePrice1, .removePrice2, .removePrice3, .removePrice4{
    display: inline-block;
    cursor: pointer;
    color:blue;
    text-align: center;
   margin:0;
   /* display: none; */
   
    }
    .h3{
        display: inline-block;
    }
.pepLanding, .cheLanding, .basLanding, .thiLanding{
    display: inline-block;
}
.clear{
    float:right;
    padding-right: 10px;
}












.navbar li{
    margin: 0px;
    display:inline-block;
    padding-left:20px;
    padding-right:20px;
    cursor: pointer;

}

.menu-drop{
    display:none;
   
  
    padding:10px;
    position: absolute;
    left:30px;
    top:45px;
    width:150px;
    z-index: 1;
    
}
.menu-drop ul{
    box-shadow: 2px 2px 4px 2px blue;
}
.menu-drop li{
    color:red;
    height:3rem;
    list-style:none;
    border: 1px solid red;
    text-align: center;
  
    width:100%;
}
.menu-drop a{
    color:red;
    text-decoration: none;
   
}
.menu-drop li:hover{
    color:white;
    background-color: blue;
    
}
.menu-drop ul{
    padding-left:0px;
    margin:0px;
    background-color:black;
}
.menuhover{
    padding-bottom:0px;
}
.menuhover:hover{
    color: blue;
}

@media screen and (max-width:870px){
    .all{
        width:600px;
    }
}


                    /* 700 and smaller */
@media screen and (max-width:700px){
   
    .nav{
        display: none;
    }
     .all{
        justify-content: center;
        width:600px;
    } 
    
    .burger-dropdown{
        display:none;
        position: absolute;
        padding:20px;
        color:white;
        background-color: black;
        z-index: 1;
    }
    
    .burger-dropdown ul{
        padding:0px;
        display: none;
        color:orangered;
    }
    .burger-dropdown li:hover{
        color:blue;
    }
    .burger-dropdown li{
        padding:3px;
    }
    li{
        list-style: none;
       
    }
    .fa-bars{
        display: inline-block;
        cursor: pointer;
        margin:10px;
        font-size: 40px;
    }
    .title-bignav{
        display: inline-block;
        
    }
    .title-smallnav{
        display: inline-block;
        
    }
    
    }
                                    /* 700 and bigger */
    @media screen and (min-width:700px){
        .fa-bars{
            display: none;
           color:lightblue;
        }
        .title-smallnav{
            display: none;
        }
        .title-bignav{
            display: inline-block;
            padding-left:150px;
        }
        .burger-dropdown{
            display:none;
        }
        
    
    }
                                    /* 420 and smaller*/
    @media screen and (max-width:420px){
        .all{
            width:350px;
        }
    }
   

                                    





                                    /* 850 and smaller*/
                            
                                       

