.navbar li{
    margin: 0px;
    display:inline-block;
    padding-left:20px;
    padding-right:20px;
    cursor: pointer;

}
.pizza{
    height:300px;
    width:1300px;
    
    background-image:url("pizzaPic.jpg");
    background-size: cover;
    background-position: center;
}
.menu-drop{
    display:none;
    width:90px;
    padding:10px;
    background-color: white;
    border:1px black solid;

    position: absolute;
    left:30px;
    top:115px;
    
}
.menu-drop li{
    height:40px;
    list-style:none;
}
.menu-drop:hover{
    color:white;
    background-color: black;
}
.menu-drop li:hover{
    color:blue;
    
}
.menu-drop ul{
    padding-left:25px;
}
.menuhover{
    padding-bottom:0px;
}
.menuhover:hover{
    color: blue;
}

@media screen and (max-width:700px){
.nav{
    display: none;
}
.burger-dropdown{
    display:none;
    position: absolute;
    padding:20px;
    color:white;
    background-color: black;
}

.burger-dropdown ul{
    padding:0px;
    display: none;
    color:orangered;
}
.burger-dropdown li:hover{
    color:blue;
}
.burger-dropdown li{
    padding:3px;
}
li{
    list-style: none;
   
}
.fa-bars{
    display: inline-block;
    cursor: pointer;
    margin:10px;
    font-size: 40px;
}
.title-bignav{
    display: inline-block;
    
}
.title-smallnav{
    display: inline-block;
    padding-left:100px;
}

}
@media screen and (min-width:700px){
    .fa-bars{
       color:white;
    }
    .title-smallnav{
        display: none;
    }
    .title-bignav{
        display: inline-block;
        padding-left:150px;
    }
    .burger-dropdown{
        display:none;
    }

}
